<% @tweets.each do |tweet| %>
    <p>
        <div id=tweet>
        <%= image_tag 'icon.png' %>

        <%= tweet.message %>
        <%=link_to '[削除]', "/tweets/#{tweet.id}", data: { turbo_method: :delete } %>
        </div>
    </p>
<% end %>

<%= link_to '[ツイートする]', new_tweet_path %>
<%= link_to "[ユーザー登録]", users_index_path %>